@(loginForm: Form[Application.Login])
@import helper._
@import helper.twitterBootstrap._

@main("Please sign in to the application") {
    @helper.form(helper.CSRF(routes.Application.authenticate)) {
        </head>
        <body >
           
                            <h1>Đăng nhập</h1>
        <p>
            <input type="email" name="email" placeholder="email"
            value="@loginForm("email").value">
        </p>
        <p>
            <input type="password" name="password"
            placeholder="Password">
        </p>
        <p>
            <button type="submit">Sign in</button>
        </p>

    }
}
