@(studentForm: Form[Student])

@import helper._
@import helper.twitterBootstrap._

@main("Student form") {

    @form(CSRF(routes.Students.save()))  {
        <div class="col-md-6">
        <input type="hidden" value="@studentForm("id").valueOr("")" name="id"/>
        <fieldset>
            <legend>Student (@studentForm("name").valueOr("New"))</legend>
            @helper.inputText(studentForm("ten"), '_label -> "Ho Ten")
            @helper.inputText(studentForm("ngaysinh"), '_label -> "Ngay sinh")
            @helper.inputText(studentForm("mssv"), '_label -> "MSSV")

            @helper.select(studentForm("nganh"),
                options = options(Student.options()),
                'class -> "form-control",
                '_label -> "Ngành Học",
                '_default -> "--- Chọn Ngành ---")

            @helper.inputText(studentForm("diachi"), '_label -> "Dia chi")
            @helper.inputText(studentForm("email"), '_label -> "E-mail")

        </fieldset>
        <div class="control-group">
            <div class="controls">
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Save">
        <a class="btn" href="@routes.Students.list()">Cancel</a>
    }
}