@()
<nav class="navbar navbar-inverse " id="navigation">
    <div style=" background-color: #00A855;font-size: 35px">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <div style=" color: #ffffff;font-size: 35px">
                        @if(session.get("email") != null) {
                            <li><a href="@routes.Students.list()">Danh sách sinh viên</a></li>
                            <li><a href="@routes.Teachers.list()">Danh sách giáo vụ</a></li>
                        }

                    </div>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <div style ="color: #ffffff;"
                    @if(session.get("email") == null) {
                        <li><a href="@routes.Application.login()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    } else {
                        <li><a href="">@session.get("email")</a></li>
                        <li><a href="@routes.Application.logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    }
            </div>
            </ul>
        </div>
    </div>
</nav>