@(teachers: List[Teacher])
    @main("Teachers catalogue") {  <h2>Danh sách giáo vụ</h2>
        <script>
        function del(urlToDelete) {
        $.ajax({
        url: urlToDelete,
        type: 'DELETE',
        success: function(results) {
        // Refresh the page
        location.reload();
        }
        });
        }
        </script>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên Giáo Vụ</th>
                    <th>Chức Vụ</th>
                    <th>Số Điện Thoại</th>
                </tr>
            </thead>
            <tbody>
            @for(teacher <- teachers) {
                <tr>
                    <td><a href="@routes.Teachers.details(teacher)">
                    @teacher.ten
                    </a></td>
                    <td><a href="@routes.Teachers.details(teacher)">
                    @teacher.chucvu</a></td>
                    <td><a href="@routes.Teachers.details(teacher)">
                    @teacher.sodienthoai</a></td>
                    </a></td>
                </tr>
            }
            </tbody>
        </table>
    }